<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
      .sos{
        border:1px solid grey;
        padding:50px;
        margin:30px;
      }
      #sosBox{
        margin:50px;
      }
      #map {
        height: 400px;
        width: 100%;
       }
       .high{
        color:red;
       }
       .mild{
        color:maroon;
       }
       .low{
        color:pink;
       }
       .btn:hover{
        cursor: pointer;
       }
    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/orgs/dashboard">Organisation Dashboard</a>
        <a class="navbar-brand" href="/orgs/undermycare">UNDER YOUR CARE</a>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row" id="sosBox">
        <h4>Live feed:</h4>
        <hr>
        <!--
        <div class="sos" accidentId='1' accidentLocation = '12.9716,77.5946'>
          <h4 class="severity">Severity: <span class="severityValue" style="color:red">High</span></h4>
          <h5 class="distance">Distance from your location: <span class="distanceValue">500m</span></h5>
          <div class="response">
            <span class="locate btn btn-primary">Locate</span>
            <span class="confirm btn btn-success">Confirm action</span>
            <span class="pass btn btn-danger">Pass</span>
          </div>
        </div>
      -->
      </div>


      <div id="map" class="map"></div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      let markers = [];
      let $locates = $('.locate');
      for (var i = 0; i< $locates.length;i++) {
        $locates[i].onclick = function(e){
          console.log(e.target);
          let accidentId = $(e.target).parent().parent().attr('accidentId');
          let accidentLocation = $(e.target).parent().parent().attr('accidentLocation');
          let accidentLocationObject = {
            lat:Number(accidentLocation.split(',')[0]),
            lng:Number(accidentLocation.split(',')[1]),
          }
          console.log(accidentLocationObject);
          var marker = new google.maps.Marker({
            position:accidentLocationObject,
            map:map
          })
          markers.push(marker);
        }
      }
      function initMap(uluru) {
        //var uluru = {lat: 12.9716, lng: 77.5946};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var markerSelf = new google.maps.Marker({
          position: uluru,
          map: map,
          icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
        });
      }

      function getLocationAndDraw() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else {
              console.log("Geolocation is not supported by this browser.");
          }
      }
      let selfPosition;
      function showPosition(position) {
          selfPosition = position;
          var uluru = { lat:position.coords.latitude ,
          lng: position.coords.longitude}
          initMap(uluru);
      }

      var processLocate = function(e){
          console.log($(e).parent().parent());
          let accidentId = $(e).parent().parent().attr('accidentId');
          let accidentLocation = $(e).parent().parent().attr('accidentLocation');
          console.log(accidentLocation);
          let accidentLocationObject = {
            lat:Number(accidentLocation.split(',')[0]),
            lng:Number(accidentLocation.split(',')[1]),
          }
          console.log(accidentLocationObject);
          var marker = new google.maps.Marker({
            position:accidentLocationObject,
            map:map
          })
          markers.push(marker);
        }
        var processConfirm = function(e){
          let accidentId = $(e).parent().parent().attr('accidentId');
          $.post('/accident/accept/'+accidentId, function(data){
            $parent = $(e).parent().parent();
            if(data.success){
              $parent.html("<h3>The citizen is under your care now, thanks for helping!</h3>")
              setTimeout(()=>{
                $parent.remove();
              }, 2000)
            }else{
              if(!data.message){
                $parent.remove();
              }else{
                $parent.html(data.message);
                setTimeout(()=>{
                  $parent.remove();
                }, 2000)
              }
            }
          });
        }
        var processPass = function(e){
          let $parent = $(e).parent().parent();
          $parent.html('Not a problem, try helping as many citizen as possible');
          setTimeout(()=>{
            $parent.remove();
          }, 2000)
        }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVw2PHVa_7hQqFrq2Ky6QJxlwZyo7n24w&callback=getLocationAndDraw">
    </script>

    <script src="/javascripts/socket.io-client.js"></script>
    <script>
      let socket = io();
      socket.on('new', function(data){
        //create html and append
        console.log(data);
        var distance = geodistance(selfPosition.coords.latitude, selfPosition.coords.longitude,Number(data.location.split(',')[0]), Number(data.location.split(',')[1]))
        console.log(distance);

        var sos = replaceThings(data.id, data.location, data.severity,distance);
        $('#sosBox').append(sos);
      })
      function replaceThings(id, location, severity, distance){
        var html = `<div class='sos' accidentId="${id}" accidentLocation = "${location}">
                    <h4 class="severity">Severity: <span class="${severity}">${severity}</span></h4>
                    <h5 class="distance">Distance from your location: <span class="distanceValue">${distance*1000}m</span></h5>
                    <div class="response">
                      <span onclick="processLocate(this);" class="locate btn btn-primary">Locate</span>
                      <span onclick="processConfirm(this);" class="confirm btn btn-success">Confirm action</span>
                      <span onclick="processPass(this);" class="pass btn btn-danger">Pass</span>
                    </div>
                  </div>
                  `
        return html;
      }

      function geodistance(lat1,lon1,lat2,lon2) {
        var R = 6371; // Radius of the earth in km
        var dLat = deg2rad(lat2-lat1);  // deg2rad below
        var dLon = deg2rad(lon2-lon1); 
        var a = 
          Math.sin(dLat/2) * Math.sin(dLat/2) +
          Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
          Math.sin(dLon/2) * Math.sin(dLon/2)
          ; 
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
        var d = R * c; // Distance in km
        return d;
      }

      function deg2rad(deg) {
        return deg * (Math.PI/180)
      }
    </script>
  </body>

</html>
