<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	.btn:hover{
    		cursor: pointer;
    	}
    </style>
    <script type="text/javascript">
	  	function sendFitRequest(e){
	  		var userId = e.getAttribute('id');
	  		$.post('/accident/declarefit/'+userId, function(data){
	  			if(data.success){
	  				$(e).parents('td').html(data.message);
	  			}else{
	  				alert(data.message);
	  			}
	  		})
	  	}
  </script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/orgs/dashboard">Organisation Dashboard</a>
        <a class="navbar-brand" href="/orgs/undermycare">UNDER YOUR CARE</a>
      </div>
    </nav>

	<div class="applications" style="margin-left: 30px">
	<h4 style="padding:30px 0px;"> Below are the list of people you are taking care of:</h4>
	<div class="applications" style="margin-left: 10px;">
	  <table class="table">
	    <tr class="row">
	      <th class="col-sm-4" style="padding:20px;" >Name</th>
	      <th class="col-sm-4" style="padding:20px;" >Action</th>
	    </tr>
	    <%for(var i=0;i<users.length;i++){%>
	      <tr class="row">
	        <td class="col-sm-4"><%= users[i].name %></td>
	        <td class="col-sm-4"><span style="color:white" class="btn btn-primary" id="<%-users[i].userId%>" onclick="sendFitRequest(this);" href="/accident/declarefit/<%-users[i].userId%>">Declare fit</span></td>
	      </tr>
	    <%}%>
	  </table>
	</div>
  </div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>