<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%-title%></title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	.btn:hover{
    		cursor: pointer;
    	}
    	.content{

    		margin-top:100px;
    	}
    </style>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/orgs/dashboard">Organisation Dashboard</a>
        <a class="navbar-brand" href="/orgs/undermycare">UNDER YOUR CARE</a>
      </div>
    </nav>

	<div class="container-fluid content">
		<div class="searchBox" style="position: relative;">
			<label>Search with email</label>
			<input type="text" name="identity" id="identity" class="form-control" placeholder="type email here">
			<br>
			<span class="search btn btn-primary">Search</span>
		</div>
		<div class="content-2"></div>
		
	</div>

	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/popper/popper.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$('.search').click(()=>{
			var value = $('#identity').val();
			var x1 = `<div class="personalDetails" style="display:<%-d1v%>; position: relative;">
			<h3>$(data.)</h3>
			<p class="bloodgroup"></p>
			<h4>Name</h4>
			<p class="name"></p>
		</div>`

				var x2 = `<div class="contact" style="display:<%-d2v%>; position: relative;">
					<h3>Emergency Contact</h3>
					<p class="emergencyContact"></p>
				</div>
				<div>
				</div>
			  </div>`
			$.get('/users/details/'+value, function(data){
				$('.content-2').html('');
				console.log(data);
				$('.content-2')
				if(data.user){
					var x1 = `<div class="personalDetails" style=" position: relative;">
							<h3>${data.user.bloodgroup}</h3>
							<p class="bloodgroup"></p>
							<h4>Name</h4>
							<p class="name">${data.user.name}</p>
						</div>`
				}
				if(data.accident){
					var x2 = `<div class="accident" style="display:<%-d2v%>; position: relative;">
								<h3>Location</h3>
								<p class="location">${data.accident.location}(Will be shown in map soon)</p>
								<h3>Status</h3>
								<p>${data.accident.status}</p>
							</div>
							<div>
							</div>
						  </div>`
				}
				$('.content-2').append(x1+'<br><br>'+ x2);
			})
		})
	</script>


</body>
</html>